<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="/admin/layout">
    <head>
        <title>Admin | Create</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/admin/dist/css/user/create.css}">


    </head>
    <body>
        <div layout:fragment="content">
            <div class="content-wrapper" style="min-height: 1302.4px;">
                <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
                     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
                    <div class="page-wrapper" style="min-height: 250px;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="white-box">
                                        <h2 class="box-title">Create User </h2>
                                        <!-- Create User Form -->
                                        <div th:if="${param.email}">
                                                        <div class="alert alert-info" style="background-color: #4dff4d; color: white; padding: 15px; margin-bottom: 20px; border-radius: 5px;"> email đã ttoonf tại!</div>
                                                    </div>
                                        <form th:action="@{/admin/user/create}" method="post" th:object="${userDto}" >
                                            <div class="form-container">
                                                <div class="form-half">

                                                    <label for="email">Email:</label>
                                                    <input type="email" id="email" th:field="*{email}" class="form-control" required />
                                                    

                                                    <label for="password">Password:</label>
                                                    <input type="password" id="passwrod" th:field="*{password}" class="form-control" required />


                                                    <label for="name"> Name:</label>
                                                    <input type="text" id="name" th:field="*{username}" class="form-control" required />
                                                    <label for="gender"> Gender:</label>
                                                    <input type="text" id="gender" th:field="*{gender}" class="form-control" required />


                                                </div>
                                                <div class="form-half">

                                                    <label for="phone">Phone:</label>
                                                    <input type="text" id="phone" th:field="*{phone}" class="form-control" required />


                                                    <label for="address">Address:</label>
                                                    <input type="text" id="address" th:field="*{address}" class="form-control" required />



                                                    <div class="form-group">
                                                        <label for="status">Status:</label>
                                                        <select id="status" th:field="*{status}" class="form-control" required>
                                                            <option value="true">Active</option>
                                                            <option value="false">Inactive</option>
                                                        </select>
                                                    </div>
                                                    <label for="birthday"> Birthday:</label>
                                                    <input type="text" id="name" th:field="*{birthday}" class="form-control" required />


                                                    <div class="form-group">
                                                        <label for="role">Role:</label>
                                                        <select id="role" th:field="*{role_id}" class="form-control" required>
                                                            <option value="1">Admin</option>
                                                            <option value="2">User</option>
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Create</button>
                                                </div>
                                            </div>
                                        </form>
                                        <a th:href="@{/admin/user/all}" class="btn btn-primary">Back to Index</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
